<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WINFO APP</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/loader.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div id="loading-wrapper">
        <div id="loading-text">LOADING</div>
        <div id="loading-content"></div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-5">
                <h5>WINFO APP</h5>
            </div>
            <div class="col-7 text-right">
                <h5 class="h5-right">
                    <span class="pink-color" id="format-hari"></span>
                    <span id="format-tanggal"></span>
                </h5>
            </div>
        </div>
        <div class="welcome">
            <h2 class="pink-color">Hallo,</h2>
            <h2 style="margin-top: -10px;">Selamat Datang</h2>
        </div>
        <div class="peraturan">
            <ol>
                <li>Pastikan anda menyalakan wifi</li>
                <li>Pastikan anda telah terhubung dengan wifi yang ingin anda ketahui passwordnya</li>
                <li>Jika kedua point di atas telah terpenuhi silahkan klik tombol <b>SCAN</b> di bawah ini</li>
            </ol>
            <center>
                <div class="btn-scan">
                    <div class="loader">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="text-scan"><p style="margin-top: 6px;">SCAN</p></div>                    
                </div>
            </center>
        </div>
        <div class="peraturan" id="wifiInfo">
            <div id="wifi-detail"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="js/main.js"></script>
</body>

</html>